body #usep {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color:gray;
}

#container {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#header {
    background-color: skyblue;
    color: white;
    padding: 15px;
}

#header h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

#header img {
    height:80px;
    margin-right: 15px;
}

#header span {
    font-size: 24px;
    color: white;
}

* {
    box-sizing: border-box;
}

main {
    
    padding: 15px;
    overflow: hidden;
    
}

#intro{
    display: flex;
    width: 70%;
}

.column1 {
    float: left;
    width: 25%;
}

.column2 {
    float: left;
    width: 45%;
}

.column3 {
    width: 30%;
}
#linklist {
    float: left;
    width: 30%;
}
#about,
#vision,
#mission,
#goals,
#linklist {
    background-color: rgb(243, 224, 227);
    color: darkgray;
    border: 1px solud #ddd;
}

h2, h3 {
    margin-top: 0;
    color: skyblue;
}

p, li {
    font-size: 13px;
    line-height: 1.5;
}

a {
    color: rgb(101, 101, 238);
    text-decoration: none;
}

a:hover {
    color:skyblue;
}

ul li {
    text-decoration: underline;
}

#footer {
    background-color: skyblue;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}